.container{
    position: relative;
}
.b1{
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 40px;
    background-color: aqua;
}
.b2{
    position: absolute;
    z-index: 3;
    background-color: rosybrown;
    height: 60px;
    width: 70%;
    left: 250px;
    top: 50px;
    border: 2px solid;
}
.b3{
    position: absolute;
    color: wheat;
    z-index: 2;
    background-color: rebeccapurple;
    width: 45%;
    left: 270px;
    top: 15px;
    height: 100px;
    border: 2px solid;
}