#img1{
    position: static;
}
#img2{
    position: relative;
    left: 100px;
    top: 50px;
}
.container{
    position: relative; /*act as reference for absolute child*/
    border: 2px solid red;
    padding: 40px;
    height: 100px;
}
.logo{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 80px;
}
.h{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: yellow;
}
.i{
    position: fixed;
    top: 10px;
    left: 10px;
}
#img5{
    position: sticky;
}