body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}
.gradient-box{
    width:400px;
    height: 200px;
    margin:auto;
    border: 2px solid #333;
}
.linear{
    background-image: linear-gradient(100deg, blue,orange,red);
}
.radial{
    background-image: radial-gradient(circle,blue 20%,orange,red);
}
.conic{
    background-image: conic-gradient(blue, orange,red);
}
.repeat-linear{
    background-image: repeating-linear-gradient(45deg, blue, orange 20px, red 40px);
}