body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    height: 150px;
    width: 150px;
    margin: 50px auto;
}
.translate{
    background: lightblue;
    border: 2px solid navy;
    transition: transform 0.5s;
}
.translate:hover{
    transform: translate(50px, 30px);
}
.rotate{
    background: lightcoral;
    border: 2px solid maroon;
    transition: transform 5s;
}
.rotate:hover{
    transform: rotate(-30deg);
}
.scale{
    background: lightgreen;
    border: 2px solid darkgreen;
    transition: transform 0.5s;
}
.scale:hover{
    transform: scale(2, 1.4);
}
.skew{
    background: lightgoldenrodyellow;
    border: 2px solid goldenrod;
    transition: transform 0.5s;
}
.skew:hover{
    transform: skew(15deg, 10deg);
}
.multi{
    background: pink;
    border: 2px solid purple;
    transition: transform 0.5s;
}
.multi:hover{
    transform: translate(30px, 20px) rotate(20deg) scale(2);
}