.none{
    border-style: none;
}
.hidden{
    border-style: hidden;
}
.dotted{
    border-style: dotted;
    border-radius: 10px 5px 15px 35px ;
     /* border-radius: top-left top-right bottom-right bottom-left ; */
}
.dashed{
    border-style: dashed;
    border-color: cadetblue;
    border-width: 5px;
}
.solid{
    border-style: solid;
    color: blue;
    border-width: thin;
}
.double{
    border-style: double;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 35px;
}
.groove{
    border-radius: 20px;
    border-style: groove;
}
.ridge{
    border-radius: 25%;
    border-style: ridge;
    color: aquamarine;
}
.inset{
    border-style: inset;
}
.outset{
    border-style: outset;
}
.collapse{
    border-collapse: collapse;
    border-color: red;
}
.separate{
    border-collapse: separate;
    border-color: red;
    border-spacing: 5px;
}
.shorthand{
    border: 1px solid red
}
/*
SHORTHAND
border: width style color;
*/