.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box{
    width: 100px;
    height: 100px;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
/*Media Query*/
@media screen and (max-width: 480px){   /*mobile*/
    .container{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 80%;
    }
    body{
        background-color:antiquewhite;
    }
}
@media (min-width: 481px) and (max-width: 768px){   /*tablet*/
    body{
        background-color: pink;
    }
}
@media (min-width: 769px) { /*laptop*/
    body{
        background-color: burlywood;
    }
}