.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;    /* 3 columns, the middle column is twice as wide */
    grid-template-rows: 100px auto;        /* 2 rows: first row fixed at 100px, second row auto-sized */
    gap: 10px;
    background-color: #4CAF50;
    padding: 10px;
}
.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #333;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.grid-container-1{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100px auto;  
}
.grid-item-1{
    gap: 20px;
    row-gap: 10px;
    column-gap: 30px;
}
.layout{
    display: grid;
    grid-template-areas: 
    "header header header"
    "menu main aside"
    "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}
.header{
    grid-area: header;
    background: lightblue;
    padding: 20px;
    text-align: center;
}
.menu{
    grid-area: menu;
    background: lightgreen;
    padding: 20px;
}
.main{
    grid-area: main;
    background: lightyellow;
    padding: 20px;
}
.aside{
    grid-area: aside;
    background: lightpink;
    padding: 20px;
}
.footer{
    grid-area: footer;
    background: lightgrey;
    padding: 20px;
    text-align: center;
}
.grid-container-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background: lightseagreen;
    padding: 10px;
}
.grid-item-2{
    background: white;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}
.span-columns{
    grid-column: 1/3;
    background: lightblue;
}
.grid-container-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background: lightcoral;
    padding: 10px;
}
.grid-item-3{
    background: white;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}
.span-rows{
    grid-row: 1/3;
    background: lightpink;
}
.grid-container-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: lightgreen;
    padding: 10px;
    height: 300px;
}
.grid-item-4{
    background-color: white;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
}
.align-top{
    align-self: start;
}
.align-bottom{
    align-self: end;
}
.justify-left{
    justify-self: start;
}
.justify-center{
    justify-self: center;
}