h1{
    color:aquamarine;
    background-color: brown;
    text-align: center;
}
h2{
    color:aquamarine;
    background-color: brown;
    /*text-align: center;*/
}
h3{
    color:aquamarine;
    /*
    background-color: brown;
    text-align: center;
    */
}