h1{
    background-color: yellow;
}
.ul1{
    list-style-type: disc;
}
.ul2{
    list-style-type: circle;
}
.ul3{
    list-style-type: square;
}
.ul4{
    list-style-type: none;
}
.ol1{
    list-style-type: decimal;
}
.ol2{
    list-style-type: decimal-leading-zero;
}
.ol3{
    list-style-type: lower-roman;
}
.ol4{
    list-style-type: upper-roman;
}
.ol5{
    list-style-type: lower-alpha;
}
.ol6{
    list-style-type: upper-alpha;
}
.ul5{
    list-style-position: inside;
}
.ul6{
    list-style-position: outside;
}
.ol7{
    list-style-position: inside;
}
.ol8{
    list-style-position: outside;
}
.ul7{
    list-style: circle;
}
.ul8{
    list-style: none;
}
.ol9{
    list-style:decimal;
}
.ol10{
    list-style: none;
}
.ul9{
    list-style-type: "👍";
}