.b1{
    background-color: blue;
    color: antiquewhite;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 32px;
    cursor: pointer;
}
.b1:hover{
    background-color: aqua;
}
.b2:active{   /*when clicked*/
    background-color: navy;
}
.b2:focus{    /*when tabbed into*/
    outline: 2px solid orange;
}
.b3{
    background-color: #3300ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: white;
}
.b4{
    box-shadow: 5px 5px yellowgreen;
    margin:10px;
}
.b5{
    padding: 10px;
    background-color: white;
    border: 1px solid red;
    border-radius: 10px;
}
